{% extends 'base.html.twig' %}

{% block title %}Connexion à l'application du domaine de Saint-Roch{% endblock %}

{% block stylesheets %}
    <link href="assets/css/login.css" rel="stylesheet">
{% endblock %}


{% block body %}

    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-1">
                <h3>Espace de connexion</h3>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form method="post" accept-charset="UTF-8">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Votre adresse mail *" name="email" id="inputEmail" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Votre mot de passe *" name="password" id="inputPassword" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Connexion" />
                    </div>
                    <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
                    <div class="form-group">
                        <a href="{{ path('app_register')}}" class="btnForgetPwd">Pas encore inscrit ?</a>
                        {# 
                        TODO: Création du formulaire de mot de passe oublié
                        <a href="#" class="btnForgetPwd"> Mot de passe oublié ?</a> #}
                    </div>
            
                    {% if errorMessage is defined %}
                        <p>{{ errorMessage }}</p>
                    {% endif %}
                </form>
            </div>
            <div class="col-md-6 login-form-2">
                <div class="login-logo">
                    <img src="/images/logo-DSR-BG.png" alt="Logo du domaine de saint-roch"/>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
