<a{% for attr, value  in options | merge({class: 'btn btn-info'}) %} {{ attr }}="{{ value }}"{% endfor %}>
    <span class="float-right">
        {% if sorted %}
            {% if direction == 'desc' %}
                <i class="fa fa-sort-down"></i>
                
            {% else %}
                <i class="fa fa-sort-up"></i>
                
            {% endif %}
        {% else %}
            <i class="fa fa-sort"></i>
        {% endif %}
    </span>
     {{ title }} 
</a>
