{% extends 'base.html.twig' %}

{% block title %}La catégorie {{category.title}}{% endblock %}

{% block body %}
    <div class="container shadow">
        <h1>La catégorie {{category.title}} </h1>
        {# TODO: Créer du texte d'explication #}
        <p>Nam ut irure incididunt libero fuga, curabitur. Curabitur odit pariatur. 
        Aliquip iure sint at quibusdam! Molestiae, tortor anim viverra maiores auctor voluptate
        s expedita recusandae? Elit dolorem! Culpa eaque sint incididunt sociosqu diam laboris. 
        Dignissimos venenatis laoreet, blanditiis nibh sapien! Ornare sollicitudin adipisicing sc
        elerisque odio, rhoncus, modi diamlorem adipisicing! Mauris sint repellendus, augue orci co
        ngue dolorum netus egestas vestibulum condimentum ac, dignissim penatibus dignissimos eget 
        eiusmod minim diamlorem laboriosam, mus ratione nobis condimentum velit mauris porttitor p
        er sollicitudin rhoncus magni egestas curae irure faucibus accusamus. Consectetuer neque pa
        riatur atque elementum hendrerit, autem lacus incididunt vel! Inceptos class, sodales provident cupidatat excepturi.</p>

        {# <img style="width: 100%; display: block;" src="{{chemin_image}}/{{category.path}}"  onerror="this.src='/images/inconnu.png';" alt="Card image"> #}

        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ category.id }}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{ category.title }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="actionButton">
             <a href="{{ path('category_index') }}"><button type="button" class="btn btn-success mr-1">Voir les catégories</button></a>


            {{ include('category/_delete_form.html.twig') }}
            <a href="{{ path('category_edit', {'id': category.id}) }}">Modifier la categorie</a>

        </div>
   
    </div>

{% endblock %}
