{{ form_start(form) }}
        {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.category, {'attr': {'class': 'form-control'}}) }} 
  
    <div class="row">
        <div class="col-8">
            {{ form_row(form.beginAt, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-4">
            {{ form_row(form.durationInHours, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    {{ form_row(form.place, {'attr': {'class': 'form-control'}}) }} 
    <button class="mt-3 mb-3 btn btn-success">Enregistrer l'événement</button>
{{ form_end(form) }}
