{{ form_start(form) }}
    {{ form_row(form.title, {'attr' : {'class' : 'form-control'}}) }}
    <div class="row">
        <div class="col">
            {{ form_row(form.category, {'attr': {'class' : 'form-control'}}) }}
        </div>
        <div class="col">
            {# TODO : Si c'est une modification, dans ce cas la récupérer l'ancien lien de la vidéo  #}
            {{ form_row(form.path, {'attr': {'class' : 'form-control'}}) }}
        </div>
    </div>
    {{ form_row(form.content, {'attr' : {'class' : 'form-control'}}) }}
    <button class="btn mt-3 mb-3 btn-success">Mettre en ligne la vidéo</button>
{{ form_end(form) }}
<script src="/ckeditor/ckeditor.js"></script>
    <script>      
    CKEDITOR.replace( 'video_content' );
</script>