<form method="post" action="{{ path('note_delete', {'id': note.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cette note ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ note.id) }}">
    <button class="btn btn-warning mb-3">Supprimer</button>
</form>
