{% extends 'base.html.twig' %}

{% block title %}Modifier une note privée{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1>Modifier la note privée de {{ note.user }}</h1>

        {{ include('note/_form.html.twig') }}
        <div class="mt-2">
            {{ include('note/_delete_form.html.twig') }}
        </div>
        <a href="{{ path('user_show', {'id' : note.user.id}) }}">Retourner voir le profil de l'utilisateur</a>

        
    </div>

{% endblock %}
