{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle note privée{% endblock %}

{% block body %}
    <div class="container mt-3 shadow">
        <h1>Ajouter une note privée à {{ user }}</h1>

        {{ include('note/_form.html.twig') }}

        <a href="{{ path('user_show', {'id' : user.id}) }}">Retourner voir le profil de l'utilisateur</a>
    </div>

{% endblock %}
