{% extends 'base.html.twig' %}

{% block title %}Note privée de {{ note.user}}{% endblock %}

{% block body %}
    <div class="container mt-3 mb-3 shadow">
        <h1>Note privée de {{ note.user}}</h1>

        <p>{{ note.content }}</p>

        <div class="actionButton">
            <a href="{{ path('note_edit', {'id': note.id}) }}"><button class="btn btn-info mr-1 mb-2">Modifier</button></a>
            {{ include('note/_delete_form.html.twig') }}
        </div>

        {# <a href="{{ path('note_delete', {'id': note.id}) }}"><button class="btn btn-warning">Supprimer</button></a> #}
        <a href="{{ path('user_show', {'id' : note.user.id}) }}">Retourner voir le profil de l'utilisateur</a>

    </div>

{% endblock %}
