{% extends 'base.html.twig' %}

{% block title %}Contract{% endblock %}

{% block body %}

    <div class="container">
        <h1>Le contrat de {{ contract.user }}</h1>
        {# TODO: Créer du texte d'explication #}
        <p>Nam ut irure incididunt libero fuga, curabitur. Curabitur odit pariatur. 
        Aliquip iure sint at quibusdam! Molestiae, tortor anim viverra maiores auctor voluptate
        s expedita recusandae? Elit dolorem! Culpa eaque sint incididunt sociosqu diam laboris. 
        Dignissimos venenatis laoreet, blanditiis nibh sapien! Ornare sollicitudin adipisicing sc
        elerisque odio, rhoncus, modi diamlorem adipisicing! Mauris sint repellendus, augue orci co
        ngue dolorum netus egestas vestibulum condimentum ac, dignissim penatibus dignissimos eget 
        eiusmod minim diamlorem laboriosam, mus ratione nobis condimentum velit mauris porttitor p
        er sollicitudin rhoncus magni egestas curae irure faucibus accusamus. Consectetuer neque pa
        riatur atque elementum hendrerit, autem lacus incididunt vel! Inceptos class, sodales provident cupidatat excepturi.</p>
        <table class="table shadow">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ contract.id }}</td>
                </tr>
                <tr>
                    <th>Nom et prénom du client</th>
                    <td>{{ contract.user }}</td>
                </tr>
                <tr>
                    <th>Début du contrat le</th>
                    <td>{{ contract.beginAt ? contract.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Fin du contrat le</th>
                    <td>{{ contract.endAt ? contract.endAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
            </tbody>
        </table>

        {% if is_granted("ROLE_ADMIN") %}
            <div class="d-flex">
                <a href="{{ path('contract_edit', {'id': contract.id}) }}"><button class="btn btn-info mr-2">Modifier le contrat</button></a>
                {{ include('contract/_delete_form.html.twig') }}
            </div>
            <a href="{{ path('contract_index') }}">Voir tout les contrats</a>
        {% else %}
            <a href="{{ path('user_show', {'id': app.user.id}) }}"><button class="btn btn-success">Mon profil</button></a>
        {% endif %}
        

    </div>
{% endblock %}
