{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
    <div class="container shadow">
        <h1>Message de {{ message.author }}</h1>
        {# TODO: Créer du texte d'explication #}
        <p>Nam ut irure incididunt libero fuga, curabitur. Curabitur odit pariatur. 
        Aliquip iure sint at quibusdam! Molestiae, tortor anim viverra maiores auctor voluptate
        s expedita recusandae? Elit dolorem! Culpa eaque sint incididunt sociosqu diam laboris. 
        Dignissimos venenatis laoreet, blanditiis nibh sapien! Ornare sollicitudin adipisicing sc
        elerisque odio, rhoncus, modi diamlorem adipisicing! Mauris sint repellendus, augue orci co
        ngue dolorum netus egestas vestibulum condimentum ac, dignissim penatibus dignissimos eget 
        eiusmod minim diamlorem laboriosam, mus ratione nobis condimentum velit mauris porttitor p
        er sollicitudin rhoncus magni egestas curae irure faucibus accusamus. Consectetuer neque pa
        riatur atque elementum hendrerit, autem lacus incididunt vel! Inceptos class, sodales provident cupidatat excepturi.</p>
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ message.id }}</td>
                </tr>
                <tr>
                    <th>Sujet</th>
                    <td>{{ message.subject }}</td>
                </tr>
                <tr>
                    <th>Auteur du message</th>
                    <td>{{ message.author }}</td>
                </tr>
                </tr>
                    <tr>
                    <th>Pour le chien</th>
                    <td>{{ message.dog }}</td>
                </tr>
                <tr>
                    <th>Envoyé le </th>
                    <td>{{ message.sendAt ? message.sendAt|date('H:i:s d-m-Y ') : '' }}</td>
                </tr>
                <tr>
                    <th>Contenu du message</th>
                    <td>{{ message.content }}</td>
                </tr>
            </tbody>
        </table>
        <div class="actionButton mb-3">
            <a href="mailto:{{ message.author.email }}">
                <button class="btn btn-success mr-1">
                    Répondre
                </button>
            </a>
            <a href="{{ path('message_index') }}">
                <button class="btn btn-info mr-1">
                    Voir autres messages
                </button>
            </a>
            {{ include('message/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}
