<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Domaine de Saint-Roch{% endblock %}</title>
        <link rel="icon" type="image/png" href="/images/logo-DSR-BG.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://bootswatch.com/4/united/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <link href="../../../assets/css/main.css" rel="stylesheet">
        
        {# TODO: Modifier ces informations à la mise en ligne #}
        <meta property="og:title"              content="Planning du Domaine de Saint Roch" />
        <meta property="og:description"        content="Cours au Domaine de Saint Roch avec Jimmy Gressent et ses collaborateurs ..." />
        <meta property="og:image"              content="images/jimmy.jpg" />

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include "_parts/_navbar.html.twig" %}
        <div class="container mt-3">
            {% include "_parts/_flash_messages.html.twig" %}
        </div>
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
        

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
