{% extends 'base.html.twig' %}

{% block title %}Client du domaine de Saint-Roch{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Utilisateur {{ user.firstName }} {{ user.lastName }}</h1>
        <div class="row">
            <div class="col-lg">      
                <img width=100% class="shadow" src="{{chemin}}/{{user.image}}" alt="Image de l'utilisateur" onerror="this.src='/images/inconnu.png';">
            </div>
            <div class="col-lg">
               <table class="table shadow">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ user.id }}</td>
                        </tr>
                        <tr>
                            <th>Prénom</th>
                            <td>{{ user.firstName }}</td>
                        </tr>
                        <tr>
                            <th>Nom de famille</th>
                            <td>{{ user.lastName }}</td>
                        </tr>
                        <tr>
                            <th>Adresse email</th>
                            <td><a href="mailto:{{user.email}}">{{ user.email }}</a></td>
                        </tr>
                        <tr>
                            <th>Téléphone</th>
                            <td><a href="tel:{{user.phone}}">{{ user.phone }}</a></td>
                        </tr>
                        <tr>
                            <th>Adresse</th>
                            <td>{{ user.address }}</td>
                        </tr>
                        <tr>
                            <th>Ville</th>
                            <td>{{ user.city }}</td>
                        </tr>
                        <tr>
                            <th>Code postal</th>
                            <td>{{ user.postalCode }}</td>
                        </tr>
                        <tr>
                            <th>Valider</th>
                            <td>{{ user.validation ? 'Oui' : 'Non' }}</td>
                        </tr>
                        <tr>
                        <th>Nom et race du chien</th>
                            <td>
                        {% for dog in user.dog %}
                            <a href="{{ path('dog_show', {'userConnect' : app.user.id, 'id' : dog.id}) }}">{{ dog }}</a>
                            <br>
                        {% endfor %}
                            </td>
                        </tr>

                        {% for contract in user.contract %}
                            {% if contract.endAt < dateTime %}
                                <tr>
                                    <th>Ancien contrat</th>
                                    <td><a href="{{ path('contract_show', {'id' : contract.id}) }}">{{contract}}</a></td>
                                </tr>        
                            {% else %}
                                <tr>
                                    <th>Contrat en cours</th>
                                    <td><a href="{{ path('contract_show', {'id' : contract.id}) }}">{{contract}}</a></td>
                                </tr>  
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="row">
                <div class="col-lg ">
                    <h2>Notes privées</h2>
                    <ul class="list-group mb-3 shadow" style="user-select: auto;">
                        {% for note in user.notes %}
                            <li class="list-group-item d-flex justify-content-between align-items-center" style="user-select: auto;">
                            <a href="{{path('note_show', {'id' : note.id})}}" style="color:black">{{note.content|striptags|u.truncate(150, '...')|raw}}</a>
                        </li>
                        {% endfor %}

                        <li class="list-group-item">
                            <a href="{{ path('note_new', {'id' : user.id })}}">
                                Ajouter une note privée
                            </a>
                        </li>   
                    </ul>
                </div>
                <div class="col-lg">
                    <h2>Les inscriptions aux cours</h2>
                    <div class="table-responsive mt-3">
                        <table class="table shadow">
                            <thead>
                            <tr>
                                <th class="th-lg">ID</th>
                                <th class="th-lg">Évenement</th>
                                <th class="th-lg">Date</th>
                                <th></th>
                            </tr>
                            </thead>
                            {% for booking in user.bookings %}
                                <tr>
                                    <td><a href="{{ path('booking_show', {'id' : booking.id })}}">{{ booking.id }}</a></td>
                                    <td><a href="{{ path('booking_show', {'id' : booking.id })}}">{{ booking.title|striptags|u.truncate(35, '...')|raw }}</a></td>
                                    <td><a href="{{ path('booking_show', {'id' : booking.id })}}">{{ booking.beginAt|date('H:i:s d-m-Y' )}}</a></td>
                                    <td>
                                        {% if booking.beginAt > dateTime %}
                                            <a href="{{ path('booking_remove_user', {'id': booking.id, 'userConnect':  app.user.id}) }}"><span class="blue">Annuler</span></a><br>
                                        {% endif %}
                                    </td>
                                </tr>                    
                            {% else %}
                                <tr>
                                    <td colspan="8">Aucun événement</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
        <hr>
        <div class="actionButton">
            <a href="{{ path('dog_new', {'user' : user.id}) }}">
                <button type="button" class="btn btn-secondary mr-1 mb-1">Ajouter un chien</button>
            </a>
            <a href="{{ path('user_edit', {'id': user.id}) }}">
                <button type="button" class="btn btn-success mr-1 mb-1">Modifier 
                    {% if is_granted('ROLE_ADMIN') %} 
                        l'utilisateur
                    {% else %}
                        mon profil
                    {% endif %}  
                </button>
            </a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('user_index') }}">
                    <button type="button" class="btn btn-info mr-1 mb-1">Voir les clients du domaine</button>
                </a>
                <a href="{{ path('contract_new', {'id': user.id}) }}">
                    <button type="button" class="btn btn-warning mr-1 mb-1">Créer un nouveau contract</button>
                </a>
                {{ include('user/_delete_form.html.twig', {'redirection' : 'user_index'}) }}
            {% endif %}
        </div>
        
    </div>
{% endblock %}
